@page "/device/{Name}"

@inject IServiceClient Client
@implements IDisposable

<div>
    <h3>@Name</h3>

    <div class="card">

        <div class="card-header">
            Invoke Method
        </div>
        <div class="card-body">
            <InvokeCommand DeviceId="@Name" />
        </div>
    </div>

    <p/>

    @if (_events is not null)
    {
        <div class="card">
            <div class="card-header">
                Events
            </div>

            <table class="table">
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Body</th>
                </tr>

                @foreach (var item in _events)
                {
                    <tr>
                        <td>@item.EnqueuedTime</td>
                        <td>@item.Body</td>
                    </tr>
                }
            </table>

            <div class="card-body">
                <a href="#" class="card-link" @onclick="() => _events.Clear()">Clear</a>
            </div>
        </div>
    }
</div>


@code { private ObservableList<Event>? _events;

    [Parameter]
    public string Name { get; set; } = null!;

    protected override void OnInitialized()
    {
        _events = new ObservableList<Event>(Client.ObserveEventsFor(Name), StateHasChanged);
    }

    public void Dispose()
    {
        _events?.Dispose();
    } }
