@page "/device/{DeviceId}"

@inject IServiceClient Client

<div>
    <header class="pb-3 mb-4 border-bottom">
        <span class="fs-4">@DeviceId</span>
    </header>

    <div class="card-group">
        <UpdateComponentProperty DeviceId="@DeviceId" />

        <div class="card">

            <div class="card-header">
                Invoke Method
            </div>
            <div class="card-body">
                <InvokeCommand DeviceId="@DeviceId" />
            </div>
        </div>
    </div>

    <p />

    <div class="card">
        <div class="card-header">
            Events
        </div>

        <EventList DeviceId="@DeviceId" />
    </div>
</div>


@code {
    [Parameter]
    public string DeviceId { get; set; } = null!;
}
