@page "/device/{DeviceId}"

@inject IServiceClient Client

<div>
    <h3>@DeviceId</h3>

    <div class="card">

        <div class="card-header">
            Invoke Method
        </div>
        <div class="card-body">
            <InvokeCommand DeviceId="@DeviceId" />
        </div>
    </div>

    <p />

    <div class="card">
        <div class="card-header">
            Events
        </div>

        <EventList DeviceId="@DeviceId" @ref="_eventList" />

        <div class="card-body">
            <a href="#" class="card-link" @onclick="() => _eventList?.Clear()">Clear</a>
        </div>
    </div>
</div>


@code {
    private EventList? _eventList;

    [Parameter]
    public string DeviceId { get; set; } = null!;
}
