@page "/device/{DeviceId}"

@inject IServiceClient Client

<div>
    <h3>@DeviceId</h3>

    <PostDeviceData DeviceId="@DeviceId" />

    <p />

    <div class="card">

        <div class="card-header">
            Invoke Method
        </div>
        <div class="card-body">
            <InvokeCommand DeviceId="@DeviceId" />
        </div>
    </div>

    <p />

    <div class="card">
        <div class="card-header">
            Events
        </div>

        <EventList DeviceId="@DeviceId" />
    </div>
</div>


@code {
    [Parameter]
    public string DeviceId { get; set; } = null!;
}
