@inject IServiceClient Client
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">MyCentral</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		@if(_devices is not null)
        {
			@foreach (var device in _devices.OrderBy(d=>d))
			{
				var url = $"device/{@device}";

				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@url" Match="NavLinkMatch.All">
						<span class="oi oi-laptop" aria-hidden="true"></span> @device
					</NavLink>
				</li>
			}
		}
 </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private ObservableList<string>? _devices;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        _devices = new ObservableList<string>( Client.ObserveDeviceNames(), StateHasChanged);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        _devices?.Dispose();
    }
}
