@inject IEmulatedDeviceManager EmulatedDevices

<div class="form-group">
	<label>
		Component
		<input class="form-control" @bind-value="@_component" />
	</label>

	<label>
		Data
		<input class="form-control" @bind-value="@_text" />
	</label>
</div>

<button class="btn btn-primary" @onclick="Send">Send</button>


@code {
	private string? _component;
	private string? _text;

	[Parameter]
	public string Name { get; set; } = null!;

	private async Task Send()
	{
		if (_component is null || _text is null)
		{
			return;
		}

		var device = await EmulatedDevices.GetDeviceAsync(Name, default);

		if (device is null)
		{
			return;
		}

		await device.SendAsync(_component, _text);
	}
}
