@inject IServiceClient Client
@implements IDisposable

@if (_events is not null && _events.Count > 0)
{
    <table class="table">
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Subject</th>
            <th scope="col">Body</th>
        </tr>

        @foreach (var item in _events)
        {
            <tr>
                <td>@item.EnqueuedTime</td>
                <td>@item.Subject</td>
                <td><pre><code>@item.Body</code></pre></td>
            </tr>
        }

    </table>

    <div class="card-body">
        <a href="javascript:void(0);" class="card-link" @onclick="() => _events?.Clear()">Clear</a>
    </div>
}

@code {
    [Parameter]
    public string DeviceId { get; set; } = null!;

    private ObservableList<Event>? _events;

    protected override void OnInitialized()
    {
        _events = new ObservableList<Event>(Client.ObserveEventsFor(DeviceId), StateHasChanged);
    }

    public void Dispose()
    {
        _events?.Dispose();
    }
}
