@using System.Collections.Immutable;

@inherits BlazorObserver<Event>

@{
    var list = _list;
}

<div>
    @if (list.IsEmpty)
    {
        <div class="alert alert-warning">
            Initializing...
        </div>
    }
    else
    {
        <table class="table">
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Body</th>
            </tr>
            @foreach (var item in list)
            {
                <tr>
                    <td>@item.EnqueuedTime</td>
                    <td>@item.Body</td>
                </tr>
            }
        </table>
    }
</div>

@code {
    private ImmutableList<Event> _list = ImmutableList<Event>.Empty;

    public override void OnNext(Event value)
    {
        System.Threading.Interlocked.Exchange(ref _list, _list.Insert(0, value));
        StateHasChanged();
    }
}
